body {
    background-color:lightblue;
}

p {
    color:darkblue;
}

h1 {
    color:darkblue;
}

h2 {
    color:darkblue;
}

h3 {
    color:darkblue;
    text-align: center;
}

img {
    border: 2px dashed red;
    width: 600px;
    height: 300px;
}